# where to store the main database
DB_FILE="test.db"

# geo table name
GEOS_TABLE="geos"

# generic tables
GENERIC_FILE="data/generic.yml"

# source of enrollment .csv files
ENROLL_DIR="data/enroll"

# teacher workbooks with survey data
HR_DIR="data/hr"

# fixes address from .csv files after consolidation
FIXES_FILE="data/fixes.yml"

# geo coordinates
GEO_FILE="data/2025-12-20-geo-k12-deped.csv"

# psgc data
PSGC_FILE="data/2025-10-13-psgc.xlsx"

# region aliases
REGION_NAMES_FILE="data/regions.yml"
