# where to store the main database
DB_FILE="../deped-data/data/deped.db"

# base table name
MAIN_TABLE="schools"

# generic tables
GENERIC_FILE="data/generic.yml"

# source of enrollment .csv files
ENROLL_DIR="data/enroll"

# fixes address from .csv files after consolidation
FIXES_FILE="data/fixes.yml"

# geo coordinates
GEO_FILE="data/2025-12-20-geo-k12-deped.csv"

# psgc data
PSGC_FILE="data/2025-10-13-psgc.xlsx"
